{% extends 'med/base.html' %}
{% load static %}

{% block content %}

        <h3>ОБЩАЯ ИНФОРМАЦИЯ</h3>
<div class="review_text">
    <p>ООО "Рога и Копыта"</p>
    <p>ИНН 666666666</p>
    <p>ОГРН 666666666666</p>
    <p>Юр. адрес: г. Бобруйск>, ул. Небытия, д. 13</p>
    <p>Единый телефон +7 (845) 777 77 77</p>
            </div>

<h3>Форма обратной связи</h3>


        <div class="send_contact">

            <div class="review_text">
                Отправьте ваш отзыв либо вопрос через форму ниже
            </div>
            <form method="post" action="#" id="review">
                {% csrf_token %}
                <input type="text" name="review_name" placeholder="ваше имя">
                <input type="email" name="review_email" placeholder="ваш email">
                <textarea name="review_text"></textarea>
                <input type="submit" value="отправить">
            </form>

        </div>

        {% endblock %}