{% extends 'med/base.html' %}
{% load static %}

{% block content %}

<div class="container marketing">
    <div class="row">
        {% for object in doctor_list %}
        <div class="col-lg-4">

            <h2>{{ object.first_name}} {{ object.last_name}}</h2>
            <hr class="featurette-divider">
            {% for spec in object.speciality.all %}
            <h4>{{ spec.title }}</h4>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}